/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
--Green-400: hsl(172, 67%, 45%);
--Green-900: hsl(183, 100%, 15%);
--Grey-500: hsl(186, 14%, 43%);
--Grey-400: hsl(184, 14%, 56%);
--Grey-200: hsl(185, 41%, 84%);
--Grey-50: hsl(189, 47%, 97%);
--White: hsl(0, 100%, 100%);
--orange-400: hsl(13, 70%, 60%);

}
body {
    font-family: 'Space Mono', monospace;
    background-color: var(--Grey-200);
}

.main-container {
    background-color: var(--White);
    padding: 32px 24px;
}
.logo {
    display: block;
    margin: 40px auto;
}
.percentage {
    height: 48px;
    width: 147px;
    padding: 8px 16px;
    border-radius: 5px;
}
.tip-details {
    border-radius: 15px;
    background-color: var(--Green-900);
    padding: 24px;
    height: 257px;
}
.reset-btn {
    width: 100%;
    height: 48px;
    padding: 8px 32px;
    background-color: var(--Green-400);
    color: var(--Green-900);
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
}